<link rel="android-chrome-icon-precomposed" sizes="192x192" href="{{ '/assets/images/favicon/android-chrome-192x192.png' | relative_url }}" />
<link rel="android-chrome-icon-precomposed" sizes="512x512" href="{{ '/assets/images/favicon/android-chrome-512x512.png' | relative_url }}" />
<link rel="apple-touch-icon-precomposed" href="{{ '/assets/images/favicon/apple-touch-icon.png' | relative_url }}" />
<link rel="icon" type="image/png" href="{{ '/assets/images/favicon/favicon-32x32.png' | relative_url }}" sizes="32x32" />
<link rel="icon" type="image/png" href="{{ '/assets/images/favicon/favicon-16x16.png' | relative_url }}" sizes="16x16" />
<meta name="application-name" content="&nbsp;"/>
<meta name="msapplication-TileColor" content="#FFFFFF" />
